* {
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.pointer {
  cursor: pointer;
}
a {
  text-decoration: none;
  width: 58px;
  height: 16px;
  top: 32px;
  left: 55px;
}
a:hover {
  color: #2196f3;
}
button:hover {
  color: #2196f3;
}

ul {
  list-style-type: none;
}

h1 {
  color: #ffffff;
  font-size: 44px;
  line-height: 60px;
  font-weight: 900;
  width: 696px;
  top: 280px;
  left: 452px;
  background-color: 2F303A;
}
.post-title {
  text-align: center;
}

.logo {
  font: raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.blue-text {
  color: #2196f3;
}
.button-first {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  background-color: 2196F3;
}

h4 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}
.text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
h2 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  text-align: center;
}
address {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.person h4 {
  font-size: 16px;
  line-height: 18, 75px;
  font-weight: 500;
}
.job {
  font-size: 16px;
  line-height: 18, 75px;
  font-weight: 400;
  color: #757575;
}
.projects h4 {
  font-size: 18px;
  font-weight: 700;
}
.example {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}
.footer-contact {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}
.wrapper {
  display: flex;
  justify-content: center;
  background: #ffffff;
}
.main-descripton {
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
}
